[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/color_coded"]
	path = vim/bundle/color_coded
	url = https://github.com/jeaye/color_coded.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-flake8"]
	path = vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
